@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --log-in-button-background: #001b2980;
}

/* LOG IN BUTTON SECTION */

.log-in-button-wrapper {
  @apply rounded-lg [transition:transform_0.5s_ease-in-out];
  background-color: var(--log-in-button-background);
  border: 2px solid #00406c;
}

.log-in-button {
  @apply rounded-lg [transition:transform_0.5s_ease-in-out];
  background-color: var(--log-in-button-background);
}

@keyframes pulse {
  75% {
    opacity: 0.75;
  }
}

.log-in-button:hover,
.log-in-button-wrapper:hover {
  @apply scale-105 animate-[pulse_2s_cubic-bezier(0.4,_0,_0.6,_1)_infinite];
  color: #ffffff;
  box-shadow:
    inset 0 0 10px #00406c99,
    0 0 9px 3px #001b2933;
}

.log-in-button:active,
.log-in-button-wrapper:active {
  transform: scale(0.95);
}
