@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  background-color: #111827;
  color: #9ca3af;
}

.forgot-password {
  color: #9ca3af;
}

/* BACKGROUND GLOW EFFECT SECTION */

.form-container-wrapper {
  position: relative;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
}

.form-container-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111827;
  box-shadow: #00406c 0px 0px 100px -10px;
  /* box-shadow: 0px 15px 60px #00406c; */
  outline: 1px solid #003a61;
  animation: pulse 5s ease-in-out infinite;
  z-index: -1;
  border-radius: 12px;
}

.neon-lighting {
  position: relative;
}

.neon-lighting::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -105px;
  height: 5%;
  width: 170%;
  background-color: #00406c;
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  animation: pulse 5s ease-in-out infinite;
}

@media (min-width: 360px) {
  .neon-lighting::after {
    top: 100%;
    left: 0px;
    height: 5%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .neon-lighting::after {
    top: 100%;
    left: -105px;
    height: 5%;
    width: 170%;
  }
}

/* INPUT SECTION */

.input-group label {
  color: #9ca3af;
}

.input-group input {
  background-color: #111827;
  border-color: #374151;
  color: #9ca3af;
  padding: 0.75rem 1rem;
}

.input-group input:focus {
  border-color: #00406c;
}

.form-group {
  position: relative;
}

.form-group label {
  justify-content: center;
  position: absolute;
  top: 12.5px;
  left: 16.5px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input.filled ~ label {
  top: -10px;
  left: 8px;
  background: #111827;
  height: min-content;
  padding: 0 5px;
  font-size: 13px;
}

.form-group input:focus ~ label {
  color: #00406c;
}

.form-group input.filled:not(:focus) ~ label {
  color: #374151;
}

/* SELECT SECTION */

.select:hover .options {
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}

.select:hover .arrow {
  transform: rotate(0deg);
}

.select:hover .selected {
  border-color: #00406c;
}

.selected {
  color: #9ca3af;
  border-color: #374151;
  background-color: #111827;
  padding: 0.85em 1em;
  z-index: 10;
}

.arrow {
  fill: #9ca3af;
  transform: rotate(-90deg);
  z-index: 100000;
  transition: 300ms;
}

.options {
  top: 100%;
  left: 0;
  border-color: #374151;
  background-color: #111827;
  max-height: 0;
  transition:
    max-height 300ms ease,
    opacity 300ms ease,
    visibility 300ms ease;
  visibility: hidden;
}

.option {
  color: #9ca3af;
  background-color: #111827;
  transition: background-color 300ms;
}

.option:hover {
  background-color: #0b101f;
}

/* CHECKBOX SECTION */

.path {
  fill: none;
  stroke: #9ca3af;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition:
    stroke-dasharray 0.5s ease,
    stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

/* LOG IN BUTTON SECTION */

.log-in-button {
  color: #9ca3af;

  background-color: transparent;
  border: 0;
  outline: 1px solid #003d5c;
  transition: all ease-in-out 0.3s;
}

.log-in-button:hover {
  transition: all ease-in-out 0.3s;
  background-color: rgb(0, 61, 92, 1);
}

/* FOOTER SECTION */

.line {
  height: 0.8px;
  flex: 1 1 0%;
  background-color: #374151;
}

.sign-up {
  color: #9ca3af;
}

.sign-up a {
  color: #9ca3af;
}
